.rating {
    max-height: 46px;
    height: 100%;
    max-width: 230px;
    width: 5.64em;
    line-height: 0;
}

.battery {
    padding: 1%;
    border-radius: 0.25em;
    width: 91%;
    background-color: aliceblue;
    float: left;
}

.cell {
    color: aliceblue;
    font-size: 1em;
    float: left;
}

.hat {
    color: #FED501;
    font-size: 0.15em;
    background-color: aliceblue;
    padding: 1.8em 0;
    border-radius: 0 0.6em 0.6em 0;
    margin: 1.95em 0;

}